
# Jupyter Checkpoints
.ipynb_checkpoints/

# PyCharm
.idea/

# Byte-compiled
__pycache__/

# Tests
.pytest_cache/
tests/tmp
tests/sample_data/
tests/sample_data.zip
tests/ground_truth.zip
tests/ground_truth/
