.ipynb_checkpoints/
.idea/
__pycache__/
animal_soup/__pycache__/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

animal_soup/.pytest_cache/
tests/tmp
tests/sample_data
tests/sample_data.zip
