# Jupyter Checkpoints
.ipynb_checkpoints/

# Distribution / packaging
.Python
docs/build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyCharm
.idea/

# Byte-compiled
__pycache__/

# Tests
.pytest_cache/
tests/tmp
tests/sample_data/
tests/*.zip
tests/ground_truth/

# Pre-trained Models
animal_soup/pretrained_models/

# DS_store
.DS_Store
animal_soup/.DS_Store
